/*
	Color Definitions
 */
:root {
	--color-black: #000000;
	--color-white: #FFFFFF;

/* 
	--color-blue: #264653;
	--color-yellow: #e9c46a;
	--color-green: #2a9d8f;
	--color-orange: #f4a261;
 */

	--color-red: #e76f51;
	
	--color-apache: #DCBB73;
	--color-eternity: #1D140B;
	--color-congress-blue: #044F93;
	--color-avocado: #868F67;

	
	
}

/*
	General Styles
	
	Cinzel:wght@400;500;600;700;800;900
	Raleway:wght@100;200;300;400;500;600;700;800;900
*/
body {
	background-color: var(--color-white);
	color: var(--color-eternity);
}
p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 20px;
}
a {
	color: var(--color-congress-blue);
	text-decoration: none;
	font-weight: 700;
}
h1 {
	font-family: 'Cinzel', serif;
	font-weight: 600;
	font-size: 52px;
	color: var(--color-eternity);
}
h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: var(--color-eternity);
}

/* For removing the margin on the first item in the copy column */
.noTopMargin {
	margin-top: 0px;
}

/*
	Navigation
 */
.nav {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 50px;
}

a.navItem {
	font-family: 'Cinzel', serif;
	font-weight: 400;
	font-size: 26px;
	color: var(--color-eternity);
}
a.navItem:hover {
	color: var(--color-apache);
}
a.navBreadcrumb {
	color: var(--color-apache);
}


/*
	Page Header, Footer
 */
.header {
	text-align: center;
}
.footer {
	text-align: right;
}


/*
	Two Column Layout
 */
.row {
	display: flex;
	flex-direction: row;
	justify-content: start;
}
.imageColumn {
	width: flex;
	padding-left: 20px;
}
.copyColumn {
	width: flex;
	padding-left: 50px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
}


/* 
	Index Page
 */
.gerryPhoto {
 display: flex;
 justify-content: space-between;
}


/* 
	Class List
 */
.classList {
	align-self: center;
	display: grid;
	grid-template-columns: 160px 200px 200px;
	row-gap:  5px;
	column-gap:  20px;
	padding-bottom: 30px;

	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 24px;
}
.classDay {
	grid-column: 1 / 2;
}
.classTime {
	grid-column: 2 / 3;
}
.className {
	grid-column: 3 / 4;
}
.classListHeader {
	font-weight: 700;
}


/*
	Forms
 */
form {
	display: grid;
	grid-template-columns: 130px 1fr;
	grid-gap:  10px;
	font-family: 'Raleway', sans-serif;
}
label {
	grid-column: 1 / 2;
	text-align: right;
}
input, button {
	grid-column: 2 / 3;
}
textarea {
	grid-column: 2 / 3;
}
.button {
	background-color: var(--color-apache);
	color: var(--color-congress-blue);
	border: none;
	padding: 15px 32px;
	justify-self: center;
	opacity: 0.7;
	
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 20px;
}
.button:hover {
	opacity: 1;
}

/*
	Email List Form
 */

.asterisk {
	color: var(--color-red);
}
.errorMessage {
	text-align: center;
	font-weight: 300;
	color: var(--color-red);
}
.successMessage {
	text-align: center;
	font-weight: 300;
}