/*
	Color Definitions
 */
:root {
	--color-black: #000000;
	--color-white: #FFFFFF;

	--color-blue: #264653;
	--color-green: #2a9d8f;
	--color-yellow: #e9c46a;
	--color-orange: #f4a261;
	--color-red: #e76f51;
	
}

/*
	General Styles
 */
body {
	background-color: var(--color-white);
	color: var(--color-blue);
}
p {
	font-family: 'Noto Serif', serif;
	font-weight: 400;
	font-size: 18px;
}
a {
	font-family: 'Noto Serif', serif;
	color: var(--color-orange);
	text-decoration: none;
	font-weight: 400;
}
h1 {
	font-family: 'Noto Serif', serif;
	font-weight: 700;
	font-size: 48px;
	color: var(--color-blue);
}
h2 {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	color: var(--color-blue);
}
h3 {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	color: var(--color-blue);
}


/*
	Page Header, Footer
 */
.header {
	text-align: center;
}
.footer {
	text-align: right;
}


/*
	Navigation
 */
.nav {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 20px;
}

a.navItem {
	color: var(--color-blue);
	font-family: 'Noto Sans', sans-serif;
	font-size: 22px;
}

a.navBreadcrumb {
	color: var(--color-green);
}



/*
	Two Column Layout
 */
.row {
	display: flex;
	flex-direction: row;
	justify-content: start;
}
.imageColumn {
	width: flex;
	padding-left: 20px;
}
.copyColumn {
	width: flex;
	padding-left: 50px;
	padding-right: 20px;
}
.flexSpaceBetween {
 display: flex;
 justify-content: space-between;
}
.flexSpaceEvenly {
 display: flex;
 justify-content: space-evenly;
}


/*
	Forms
 */
form {
	display: grid;
	grid-template-columns: 130px 1fr;
	grid-gap:  5px;
	font-family: 'Noto Serif', serif;
}
label {
	grid-column: 1 / 2;
}
input, button {
	grid-column: 2 / 3;
}
textarea {
	grid-column: 2 / 3;
}

/*
	Email List Form
 */

.asterisk {
	color: var(--color-red);
}
.errorMessage {
	text-align: center;
	font-weight: 300;
	color: var(--color-red);
}
.successMessage {
	text-align: center;
	font-weight: 300;
}

/* Media query to set website layout  
according to screen size 
@media screen and (max-width:600px) { 
	.imageColumn, .copyColumn { 
		width: 50%;
	} 
} 
@media screen and (max-width:400px) { 
	.imageColumn, .copyColumn { 
		width: 100%; 
	} 
}
*/